.main-icon {
    margin: 15px;
}

.main-icon > i {
    font-size: 60px;
    color: var(--accent-color);
    transition: font-size 0.3s ease;
}

.nav-elements > li {
    list-style: none;
    margin-top: 40px;
    color: var(--accent-color);
}

.nav-elements > li > i {
    font-size: 24px;
    cursor: pointer;
}

.nav-elements > li {
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-elements > li:hover {
    transform: scale(1.2);
}

.user-icon {
    margin-bottom: 30px;
}

.user-icon > a {
    text-decoration: none;
}

.user-icon > a > i {
    display: inline-block;
    font-size: 38px;
    color: gray;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.user-icon > a > i:hover {
    transform: scale(1.2);
    color: var(--accent-color);
}